/***************************************************/
/* CSS I've cobbled together from the far corners of the world.
Feel free to copy and paste, fork, clone, or anything you like. */
/***************************************************/



//***************************************************/
//* SASS VARIABLES
//***************************************************/

$font-stack: Helvetica, Ariral, Sans-Serif;

$pop-1: #DB37C4; // pink
$pop-2: #ED68D9; // purple
$pop-3: #49CCD4; // teal
$pop-4: #678CFA; // light blue
$pop-5: #4635F7; // blue

$header-footer: #2A2730;

$heart: #FF357A;

$grey-light: #aaa;
$grey: #99979c;
$grey-dark: #2a2730;

$white: #FFFFFF;

$blue-light: #eef;

// https://stackoverflow.com/questions/12144000/using-custom-fonts-using-css
@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/EBGaramond-0.016/ttf/EBGaramond12-Regular.ttf');
}



$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;
$small-line-height: $base-line-height - 0.2;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



/***************************************************/
/* BASIC STUFF
/***************************************************/

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        box-sizing: border-box;
    }

body {
    word-wrap: break-word;
}

#content {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
}

/* paragraphs*/
p {
    font-size: 1.2em;
    line-height: $base-line-height;
    color: #333;
    padding-bottom: 1.5%;
    /*padding-bottom: 2%;*/
    /*text-indent: 5%;*/
}

p.code {
    text-align: center;
    padding: 0.5em;
    font-size: 1.2em;
}


p.headers {
  background-color: #D3D2E0;
  border: 1px $grey-light solid;

}

P.center {
    text-align: center;
    padding: 2%;
}

/* anchors */

a {
  color: $heart;
  text-decoration: none
}

a:hover {
    text-decoration: underline;
    text-decoration-color: $heart;

}

a.about {
  color: $pop-1;
  text-decoration-color: $pop-1;
}

a.writings {
  color: $pop-2;
  text-decoration-color: $pop-2;
}


a.code {
  color: $pop-3;
  text-decoration-color: $pop-3;
}


a.git {
  color: $pop-4;
  text-decoration-color: $pop-4;
}

a.favorites {
  color: $pop-5;
  text-decoration-color: $pop-5;
}


#featured a {
  font-size: 1.2em;
}

#header a, #footer a {
    color: $white;
}

li.header::after {
    content: " )";
    color: grey;
}

li.header::before {
    content: "( ";
    color: grey;
}

a.secret {
    float: right;
}


/* div */


div.about {
    border: solid 1px $pop-1;
    width: 100%;
    background-image: url('/assets/png/code_example2_pink.png');
}
div.writings {
    border: solid 1px $pop-2;
    width: 100%;
    background-image: url('/assets/png/code_example2_pink.png');
}
div.code {
    border: solid 1px $pop-3;
    width: 100%;
    background-image: url('/assets/png/code_example2_pink.png');
}
div.git {
    border: solid 1px $pop-4;
    width: 100%;
    background-image: url('/assets/png/code_example2_pink.png');
}
div.favorites {
    border: solid 1px $pop-5;
    width: 100%;
    background-image: url('/assets/png/code_example2_pink.png');
}


/* headers */

h1 {
    font-size: 3em;
    font-family: $font-stack;
    text-align: center;
    color: #2a2730;
    padding-top: 3%;
}

h1.home-page {
    padding-top: 2%;
}

h2 {
    font-size: 2.5em;
    font-family: $font-stack;
    color: #2a2730;
    padding-top: 3%;
}


h2.code {
    /*color: #595EF7;*/
}


/* lists */

nav ul, #footer ul, #header ul {
    font-family: $font-stack;
    padding: 10px;
    list-style: none;
    font-weight: bold;
}

nav ul li, #footer ul li, #header ul li, ul li {
    display: inline;
    color: #99979c;
}

ul.code, li.code {
    text-align: center;
    padding: 2%;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

li.quote
{
    float:right;
}

#header li {

    margin-right: 20px;
}



hr {
    border-bottom: 1px solid $grey-light;
    border-top: 0px;
}

#header {
    font-size: .8em;
    background-color: $grey-dark;
}

.site-footer {
  background-color: $grey-dark;
  height:4.5em;
}


/* decorative splash of color at top of page */
/* http://sass-lang.com/ */
.popstripe
{
  height: .25em;
background-size: 100%;
    background-image: linear-gradient(to right, $pop-1 0%, $pop-1 20%, $pop-2 20%, $pop-2 40%, $pop-3 40%, $pop-3 60%, $pop-4 60%, $pop-4 80%, $pop-5 80%, $pop-5 100%);
}



.heart {
  color: $heart;
}



img.center {
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 2%;
    max-width: 400px;
    border: 1px dashed #aaa;
    border-radius: 50%;
    margin-top: 0.5em;
}

span.date:before {
    content: "|";
}

/* boxed items like in code and writings */
.container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3%;
}
.fixed{
    width: 30%;
    word-wrap: break-word;
    margin: 1.5em;
    border: solid 1px $grey-light;
    margin-left: auto;
    margin-right: auto;
}
.flex-item {
    flex-grow: 1;
}



/* borders */
.border {
  margin: 6%;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 1px solid $grey-light;
}

.border-home {
  margin: 2%;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 1px solid #db34ed;

    .border-code {
      border-bottom: 1px solid $grey-light;
    }
}


/* arrow links for next and previous */
/* http://david.elbe.me/jekyll/2015/06/20/how-to-link-to-next-and-previous-post-with-jekyll.html */
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
  color: grey;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
}

.PageNavigation .next {
  text-align: right;
  float: right;
  padding-left: 4%;
}


.sub {
        color: grey;
        font-size: 1.0em;
        line-height: $small-line-height;
}
div.sub {
    float: right;
    clear: right;
    margin: 0px;
}
span.sub {
    font-size: 0.86em;
}


/**
 * Code formatting
 */
pre {
  font-size: 0.9em;
  //background-color: $blue-light;

  padding: 8px 12px;
  overflow-x: auto;
  white-space: pre-wrap;
}

code {
  font-size: 1.0em;
  //background-color: $blue-light;
  overflow-x: auto;
  white-space: pre-wrap;

  //margin-left: -6px;
  border-radius: 15%;

  /* top right bottom left */
  padding: 0.1em 0.4em 0.1em 0.4em;
  line-height: 1.5em;

  /* https://stackoverflow.com/questions/34659853/how-to-apply-padding-to-every-line-in-multi-line-text */
  box-decoration-break: clone;

  //color: #c80032;
  //background-color: #f9f2f4;
  background-color: #fdeeff;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

// import partials
@import 'responsive';
@import 'footerBottom';
@import 'codeHighlight';
