<!doctype html>
<!--Louis, I think this is the beginning of a beautiful friendship.-->
<html lang="en">
    <head>
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="icon" type="image/png" href="/assets/png/iconLambda.png" />
        <!--<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">-->

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="#FF357A">

      <title>hello!</title>
      <meta name="description" content="Home of a stuck up, half-witted, scruffy-looking nerf herder.">

      <!--<link rel="stylesheet" href="/assets/main.css">-->
      <link rel="canonical" href="https://liambeckman.com/">
      <link rel="alternate" type="application/rss+xml" title="hello" href="/feed.xml">


        <body>
        <div id="wrapper">
            <div id="header">
            <ul class="sidenav">

            <!-- <span class="icon-bar"></span> -->
            <!-- <span class="icon-bar"></span> -->
            <!-- <span class="icon-bar"></span> -->

            <li class="header" onclick="location.href='https://liambeckman.com/'"><a href="https://liambeckman.com/">home</a></li>
            <li class="header" onclick="location.href='https://liambeckman.com/about'"><a href="https://liambeckman.com/about">about</a></li>
            <li class="header" onclick="location.href='https://liambeckman.com/writings'"><a href="https://liambeckman.com/writings">writings</a></li>
            <li class="header" onclick="location.href='https://liambeckman.com/code'"><a href="https://liambeckman.com/code">code</a></li>
            <li class="header" onclick="location.href='/https://github.com/lbeckman314'"><a href="https://github.com/lbeckman314">github</a> / <a href="https://git.liambeckman.com">cgit</a> </li>
            <li class="header" onclick="location.href='https://liambeckman.com/favorites'"><a href="https://liambeckman.com/favorites">favorites</a></li>

            <li onclick="location.href='https://liambeckman.com/code/s'"> <a class="secret" href="https://liambeckman.com/code/s" style="color:#99979c;">:(){ :|:& };:</a> </li>

</ul>

            </div>

            <div class="popstripe"></div>

            <!-- http://david.elbe.me/jekyll/2015/06/20/how-to-link-to-next-and-previous-post-with-jekyll.html -->
<div class="PageNavigation">
  
  
</div>
            <div id="content">

                <!-- https://stackoverflow.com/questions/18675610/jekyll-change-layout-if-page-is-a-post -->
            

        {% block content %}{% endblock %}

</div>


            <div id="footer">
            <!--var footer-height = document.getElementById('footer-ul').offsetHeight;-->

<footer class="site-footer" style="height: footer-height;">

  <ul>

      <!--<span class="heart">❤</span>-->

      <li><a href="https://liambeckman.com/about">Made with lots of <object type="image/svg+xml" data="/assets/svg/heart.svg"></object></a> :: <a href="http://jmcglone.com/guides/github-pages/"> inspired by jmcglone</a></li>
      <br />
      <li>© 2018 liam beckman :: <a href="https://www.github.com/lbeckman314/lbeckman314.github.io" style="color: #99979c;">code</a> licensed <a style="color: #99979c" href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a></li>

      <li class="quote">
"I only want to live in peace, plant potatoes and dream!" -Tove Jansson
</li>
  </ul>

</footer>

            </div>
        </div>
        <div id="bottom"></div>
        </body>
</html>
