{% extends "base-minimal.html" %}
    {% block content %}
        <h2 style="font-family: 'EB Garamond'; font-size: 2.5em;">Daily Emily Dickinson</h2>
        <p style="color: grey; padding-left: 9em;">
            <a style="font-family: 'EB Garamond'; font-size: 1.3em; color: grey;" href="https://www.gutenberg.org/ebooks/12242">poems</a>
            |
            <a style="font-family: 'EB Garamond'; font-size: 1.3em; color: grey;" href="https://liambeckman.com/code/withfeathers/about/">about</a>
            |
            <a style="font-family: 'EB Garamond'; font-size: 1.3em; color: grey;" href="./s">simple</a>
        </p>

        <div class="highlighter rogue">

            <pre class="highlight" style="font-family: 'EB Garamond'; font-size: 1.5em">

                {{ content }}

            </pre>

            <div style="color: grey;">
                {% block date %}
                    {{ date }}
                {% endblock %}
                <br />
                ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~
            </div>
        </div>
    {% endblock %}
